.footer
    .wrapper
        .footer-outer
            .footer-headers
            .footer-info-inner
                .footer-info
                    .footer-info__header-item
                        h4 Contact #[span Information]
                    .footer-info__mail
                        img(src="img/mail.svg")
                        a(href="mailto: shop@tedacar.eu") shop@tedacar.eu
                    .footer-info__title 
                        p #[span Social] media:
                    .footer-info__icons
                        a(href="https://t.me/ted_a_car" target="_blank")
                            img(src="img/telega.svg")
                        a(href="https://www.instagram.com/tedacar.eu/" target="_blank") 
                            img(src="img/insta.svg")
                        a(href="https://www.facebook.com/pg/TEDACAREU/shop/?ref=page_internal" target="_blank")
                            img(src="img/facebook.svg")
                .footer-phones
                    .footer-phones__header-item
                        h4 Cooperation and<br> #[span wholsale purchase]
                    .footer-phones__item
                        img(src="img/phone.svg")
                        a(href="tel: +48 533 757 777") +48 533 757 777
                    .footer-phones__item
                        img(src="img/whatsapp.svg")
                        a(href="tel: +48 533 757 777") +48 533 757 777
                    .footer-phones__item
                        img(src="img/mail.svg")
                        a(href="mailto: shop@tedacar.eu") shop@tedacar.eu
                .footer-payments
                    .footer-payments__header-item
                        h4 #[span Payment] options
                    .footer-payments__img-item
                        img(src="img/PayPal.svg")
                        img(src="img/PayU.svg")
                        img(src="img/applepay.svg")
                .footer-copy
                    p &#169 TED A CAR EU

