.header
  .header-wraper
    .header-inner
      .header-nav-wrap
        ul.header-nav
          li.header-nav__item
            a.active.header-nav__link(href="index.html") 
              span.none-after Home
          li.header-nav__item
            a.header-nav__link(href="about.html") 
              span About us
          li.header-nav__item
            a.header-nav__link(href="#") 
              span Gallery
          li.header-nav__item
            a.header-nav__link(href="#") 
              span Special offers
          li.header-nav__item
            a.header-nav__link(href="cart.html") 
              span Shoping Cart
              <!--
          li.header-nav__item
            a.header-nav__link(href="#") 
              span Contacts-->
        .total-cart
          a.cart-button(href="#")
            .total-cart__cart
              img(src='img/cart.png')
            .total-cart__total
              .total-price
                span.cart-amount 100
              .total-price
                img(src="img/dollar.png") 
        .header-lang
          .header-lang__select.lang-pl
            a.header-lang__link(href="#")
              p PL
          span
          .header-lang__select.lang-en.active
            a.header-lang__link(href="#")
              p EN
        .menu-icon
          span

