.main-container-about
    position: relative
    display block
    width 100%
    height 100vh
    overflow hidden
    gradient()

    +above-h(hz)
        height auto
        overflow auto
        
.block-content
    display flex
    flex-direction row
    justify-content space-between
    padding 80px 20px 0 20px
    transition: ease-in-out 0.25s;

.left-part
.right-part
    display flex
    width 50%
    align-items flex-start
    padding-top 15px
    
    +below(tb)
        padding-top 0
    
    &__header
        display flex
        justify-content flex-start
        align-items flex-start
        width 100%
        position relative
        
        
        &:after
            content ""
            display block
            position absolute
            top 100px
            width 100px
            height 4px
            background-color #fff
        
        h1
            regular-30()
            text-transform uppercase
            font-size 45px
            color #fff
            
            span
                title-30()
                text-transform uppercase
                font-size 45px
                color #fff

.right-part
    position relative
    display block
    
    &__header
        justify-content flex-end
        height 335px
        
        &:after
            right 0 !important
            
    &__icon-text
        display flex
        justify-content space-between
        
    &__footer
        display block
        width 100%
        margin-top 40px
        position relative
        
        
        
        &:before
            content ""
            position absolute
            display block
            width 1px
            height 40px
            top 0
            left 0
            background-color #fff
            
        &:after
            content ""
            position absolute
            display block
            width 40px
            height 1px
            left 0
            top 0
            background-color #fff
            
        h4
            title-12()
            color #fff
            letter-spacing .5px
            line-height 16px
            padding 15px 0 0 15px
            

    &__next-btn
        next-btn()

.text-icon-column
    display flex
    align-items center
    flex-direction column
    width 200px
    
    &:nth-child(2)
        margin 0 50px
        position relative 
        
        +below(tb)
            margin 0 18px
        
        &:after
        &:before
            content ""
            display block
            width 1px
            height 90%
            right -21px
            background-color #fff
            position absolute
            top 0
            bottom 0
            margin auto
            
            +below(tb)
                right -7px
            
        &:before
            left -207px
            
            +below(tb)
                left -150px
        
.icon-item
    display flex
    align-items center
    min-height 60px

.text-icon
    display flex
    min-width 20px

    p
        regular-10()
        color #fff
        letter-spacing 1px
        
        span
            font-weight 800
        
            
.background-ted
    display block
    position absolute
    top 40px
    left 0       

.left-part
    flex-direction column
    position relative
    
    &:after
        content ""
        display block
        position absolute
        width 1px
        height 80%
        right 60px
        bottom 55px
        background-color #fff
        
        +below(tb)
            right 25px
    
    &__icon-text
        display block
        align-items center
        flex-direction row
        margin-top 40px
        
        +below(tb)
            margin-top 25px
        
    &__footer
        display flex
        min-width 10px
        
        +below(tb)
            width 300px
        
        .footer-title
            display flex
            min-width 10px
            border-bottom 1px solid #fff
            border-top 1px solid #fff
            margin-top 40px
            
            h2
                title-18()
                color #fff
                margin 10px 0
                position relative
                letter-spacing .5px
                
                &:after
                    content ""
                    display block
                    bottom -15px
                    left 0
                    width 100%
                    height 1px
                    background-color #fff
                    position absolute

.order-text-row
    display flex
    align-items center
    flex-direction row
    justify-content flex-start
    
    &:nth-child(2)
        margin 36px 0
        
        +below(tb)
            margin 10px 0

.icon-block
    display flex
    align-items center
    min-width 100px
    min-height 40px
    
    +below(tb)
        min-width 50px

.text-block
    display flex
    width 250px
        
    p
        regular-10()
        color #fff
        letter-spacing 1px
        
        span
            font-weight 800
        
