.payment-page
    gradient()
    
    +below(tb)
        min-height 100vh
        
    +above-h(hz)
        min-height 100vh

.main-container-payment
    position: relative
    display block
    width 100%
    min-height 100vh
    overflow hidden
    
    +below(tb)
        min-height auto
        
    +above-h(hz)
        min-height auto
        overflow auto
        
.payment-content
    display flex
    position relative
    padding 80px 20px 0 20px
    flex-direction column
    
    &__header
        display flex 
        width 100%
        margin-top 5px
        
        h1
            title-40()
            color #fff
            text-transform uppercase
            position relative
            
            +below(mb)
                title-30()
                color #fff
            
            strong
                font-weight 300
            
            &:after
                content ""
                display block
                position: absolute;
                top: 70px;
                width: 100px;
                height: 4px;
                background-color: #fff;
                
    &__personal-info
        display flex
        position relative
        flex-direction column
        align-items center
        justify-content center
        
        .ted-fon-payment
            position absolute
            top 0
            left 0
            margin-top 100px
            
            +below(tb)
                left auto
                right 0
                margin-top 0
                top -80px
                
            +below(mb)
                display none

        .ted-info
            display flex
            flex-direction column
            justify-content center
            align-items center
            margin-top 30px
            margin-left 100px
            position relative
            
            +below(tb)
                margin-left 0
                
        .input-wrapp
            display flex
            flex-direction row
            justify-content space-between

            input
                width 280px
                height 35px
                margin-bottom 15px
                border 0
                border-bottom 2px gray solid
                background-color inherit
                box-sizing border-box
                regular-16()
                color lightgrey
                transition: ease-in-out 0.25s;
                padding-left 5px
                
                &:focus
                    outline none
                    resize none
                    border-bottom 2px  solid
                    
            #zipcode 
            #city
                width 130px
                
            #zipcode
                margin-right 20px
                
        .ted-info-payment
            display flex
            flex-direction row
            justify-content space-between
            margin-top 40px
            position relative
            
            &:before
                content ""
                display block
                width 310px
                height 1px
                background-color #fff
                position absolute
                left -15px
                right 0
                margin 0 auto
                top -15px
                
            
            &__item
                display flex
                flex-direction column
                align-items center
                
                &:nth-child(2)
                    margin 0 20px
                    
                
                .payment-btn
                    display flex
                    justify-content center
                    align-items center
                    margin-top 10px
                    
                label
                    regular-12()
                    color #b3b3b3
                    

                #pay
                #payu
                #payapple
                    //transform:scale(1.7)
                    //opacity:0.9
                    cursor:pointer
                    display block
                    padding 5px
                    margin 15px
                    box-sizing border-box
                    width 20px
                    height 20px
                    
                    &:focus
                        outline none
                        resize none
                        
                #payu
                    cursor default
                #payapple
                    cursor default
                    
                p
                    regular-12()
                    color#fff
                    margin 5px
                    
    .links-btns
        display flex
        width 100%
        justify-content flex-end
        margin-top 15px
        
        +below(tb)
            margin-bottom 30px
    
    #pay
        background-color #333
        width 150px
        height 50px
        text-align center
        margin-top 10px
        border none
        regular-16()
        cursor pointer
        outline none
        

        &:hover
            background-color #171717
            -webkit-transition: 0.6s ease
            -moz-transition: 0.6s ease
            -o-transition: 0.6s ease
            transition: 0.6s ease
            //border 1px solid #fff
            
            +below(tb)
                background-color #333
                border none
    
    .pay-prev-btn
        display block
        background-color #333
        width 150px
        height 50px
        text-align center
        margin-top 10px
        border none
        regular-16()
        cursor pointer
        outline none
        margin-right 58px
        
        &:hover
            background-color #171717
            -webkit-transition: 0.6s ease
            -moz-transition: 0.6s ease
            -o-transition: 0.6s ease
            transition: 0.6s ease
            //border 1px solid #fff
            
            +below(tb)
                background-color #333
                border none
        
        +below(mb)
            margin-right 10px
        
        p
            &:after
                display none