orange = #999999ff
orange-dark = #eb7d00
red = #e30813
gray = #333333ff
gray-fon = #f3f3f3
orange-ligth = #ff991a
icecream = #b3b3b3ff

regular-10()
  color black
  font-size 10px
  font-family 'Raleway', sans-serif
  font-weight 300
  
regular-12()
  color black
  font-size 12px
  font-family 'Raleway', sans-serif
  font-weight 300
  color #fff

regular-16()
  color black
  font-size 16px
  font-family 'Raleway', sans-serif
  font-weight 300
  color #fff
  
regular-16()
  color black
  font-size 16px
  font-family 'Raleway', sans-serif
  font-weight 300
  color #fff
  
regular-20()
  color black
  font-size 20px
  font-family 'Raleway', sans-serif
  font-weight 300
  color #fff

regular-24()
  color black
  font-size 24px
  font-family 'Raleway', sans-serif
  font-weight 300
  
regular-30()
  font-family 'Raleway', sans-serif
  font-size 30px
  color black
  font-weight 300

title-12()
  color black
  font-size 12px
  font-family 'Raleway', sans-serif
  font-weight 800

title-16()
  font-family 'Raleway', sans-serif
  font-size 16px
  color black
  font-weight 800

title-18()
  font-family 'Raleway', sans-serif
  font-size 18px
  color black
  font-weight 800

title-20()
  font-family 'Raleway', sans-serif
  font-size 20px
  color black
  font-weight 800

title-22()
  font-family 'Raleway', sans-serif
  font-size 22px
  color black
  font-weight 800

title-24()
  font-family 'Raleway', sans-serif
  font-size 24px
  color black
  font-weight 800
  
title-28()
  font-family 'Raleway', sans-serif
  font-size 28px
  color black
  font-weight 800

title-30()
  font-family 'Raleway', sans-serif
  font-size 30px
  color black
  font-weight 800
  
title-40()
  font-family 'Raleway', sans-serif
  font-size 40px
  color black
  font-weight 800

below(value)
  @media screen and (max-width: unit(value, px))
    {block}

above(value)
  @media screen and (min-width: unit(value, px))
    {block}

tb = 1023
mb = 765
hd = 1670
mbb = 350
de = 1280

above-h(value)
  @media screen and (max-height: unit(value, px))
    {block}
    
hz = 767

gradient()
    background: #000000;  
    background: -webkit-linear-gradient(135deg, #434343, #000000);
    background: linear-gradient(135deg, #434343, #000000); 