.cookies-bar
    display block
    min-height 30px
    max-height 500px
    width 100%
    padding 15px 20px 15px
    position fixed
    left 0
    bottom 0
    overflow hidden
    background-color #333
    z-index 999
    opacity .9
    
    
.cookies-bar-inner
    display flex
    width 100%
    align-items center
    
    +below(mb)
        flex-direction column
    
    &__text
        display block
        
        p
            regular-14()
            

    &__btn
        display block
        padding 15px
        
        
        button
            width 100px
            height 30px
            color #666666
            cursor pointer

