extends ../components/layout.pug

block variables

  - var pageName = 'about'

block content
    .main-container-about
        .wrapper
            .block-content
                .left-part
                    .left-part__header
                        h1.aboutted About #[span Ted]
                    .left-part__icon-text
                        .order-text-row
                            .icon-block
                                img(src="img/icon1.svg")
                            .text-block
                                p #[span TED A CAR] is a universal and premium kind of air aromatization in the form of a stylish accessory that can be used in a car, in the bathroom or in any room.

                        .order-text-row
                            .icon-block
                                img(src="img/icon2.svg")
                            .text-block 
                                p #[span TED A CAR] is different from its competitors with it’s fashionable and stylish design, as well as unusual  and original fragrances that will be appreciated by connoisseurs of fashion accessories and style.
                        .order-text-row
                            .icon-block
                                img(src="img/icon3.svg")
                            .text-block
                                p #[span Persistent and pleasant] aromas developed in Europe will quickly help your move unpleasant smells, and also make your surrounding more comfortable to be in and just cheer up!
                    .left-part__footer
                        .footer-title 
                            h2 Now the world smells like your scent!
                .right-part
                    .right-part__header
                            h1.aboutted #[span Ted] IS
                    .background-ted
                        img(src="img/TED EBASOS.svg")
                    .right-part__icon-text
                        .text-icon-column
                            .icon-item
                                img(src="img/icon1.svg")
                            .text-icon
                                p External layer becomes multicolored by covering non-toxic and #[span anti-allergic paints]
                        .text-icon-column
                            .icon-item
                                img(src="img/icon2.svg")
                            .text-icon
                                p Due to its specially adapted cellulose, which possesses a conserve function, the fragrance is equally #[span persistent during a month]
                        .text-icon-column
                            .icon-item
                                img(src="img/icon3.svg")
                            .text-icon
                                p 
                                    | We use eco friendly cardboard
                                    | only. It is chemically free as 
                                    | well as safe for an environment.
                                    | #[span It don't cause any irritations]
                    .right-part__footer
                        h4 
                            | Three internal layers are being evenly penetrated with | perfume liquid by special machine. Each layer absorbs | an ideal amount of fragrance. Finally it brings you |luxury fragrance as well as saves your money
                    a.right-part__next-btn(href="shop.html")
                        p NEXT #[span.triangle]
