extends ../components/layout.pug

block variables

  - var pageName = 'failed'

block content
    .main-container-failed
        .wrapper
            .failed-wrap
                .failed
                    .failed__header
                        h1 payment failed 
                    .failed__logo
                        img(src="img/MIDDLETED.png")
                    .failed__subtext
                        p don't panic! try again
                    a.failed__btn(href="shop.html")
                        p Return to shop