extends ../components/layout.pug

block variables

  - var pageName = 'index'

block content
    .main-container
        .main-slider
            .main-slider__item(style={background: 'url(img/slide1.JPG)'})
            .main-slider__item(style={background: 'url(img/slide2.JPG)'})
            .main-slider__item(style={background: 'url(img/slide3.JPG)'})
        .wrapper
            .main-container__inner
                .main-container__content
                    img.main-page__logo(src='img/1.png')
                    a.start-button(href="#") Start



