extends ../components/layout.pug

block variables

  - var pageName = 'success'

block content
    .main-container-success
        .wrapper
            .successful-wrap
                .successful
                    .successful__header
                        h1 payment failed
                    .successful__logo
                        img(src="img/SMILETED.png")
                    .successful__subtext
                        p don't panic! try again
                    a.successful__btn(href="gallery.html")
                        p Return to shop