extends ../components/layout.pug

block variables

  - var pageName = 'success'

block content
    .main-container-success
        .wrapper
            .successful-wrap
                .successful
                    .successful__header
                        h1 thank you!
                    .successful__logo
                        img(src="img/SMILETED.png")
                    .successful__subtext
                        p  your payment was <br> proccesed successfully
                    a.successful__btn(href="shop.html")
                        p buy some more ted'#[span s]